body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "Lalezar-Regular";
  src: local("Lalezar-Regular"),
    url("./assets/fonts/Lalezar-Regular.ttf") format("truetype");
  /* font-weight: bold; */
}
@font-face {
  font-family: "IranNastaliq";
  src: local("IranNastaliq"),
    url("./assets/fonts/IranNastaliq.ttf") format("truetype");
  /* font-weight: bold; */
}
@font-face {
  font-family: "B-NAZANIN";
  src: local("B-NAZANIN"),
    url("./assets/fonts/B-NAZANIN.ttf") format("truetype");
  /* font-weight: bold; */
}

@font-face {
  font-family: "Dima Shekasteh";
  src: local("Dima Shekasteh"),
    url("./assets/fonts/Dima Shekasteh.ttf") format("truetype");
  /* font-weight: bold; */
}

@font-face {
  font-family: "IranNastaliq_1";
  src: local("IranNastaliq_1"),
    url("./assets/fonts/IranNastaliq_1.ttf") format("truetype");
  /* font-weight: bold; */
}

@font-face {
  font-family: "Shekasteh V2.001";
  src: local("Shekasteh V2.001"),
    url("./assets/fonts/Shekasteh V2.001.ttf") format("truetype");
  /* font-weight: bold; */
}